<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Utilisateurs
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/addCandidat">Ajouter un candidat</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/updateCandidat">Modifier un candidat</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/removeCandidat">Supprimer un candidat</a>
				</div>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Promotions
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/addPromotion">Ajouter une promotion</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/updatePromotion">Modifier une promotion</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/removePromotion">Supprimer une promotion</a>
				</div>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Epreuves
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/addEpreuve">Ajouter une epreuve</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/updateEpreuve">Modifier une epreuve</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/removeEpreuve">Supprimer une epreuve</a>
				</div>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Tests
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/addTest">Ajouter un test</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/updateTest">Modifier un test</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/removeTest">Supprimer un test</a>
				</div>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sections
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/addSection">Ajouter une section</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/updateSection">Modifier une section</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/removeSection">Supprimer une section</a>
				</div>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Thèmes
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/addTheme">Ajouter un thème</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/updateTheme">Modifier un thème</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/removeTheme">Supprimer un thème</a>
				</div>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Questions
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/addQuestion">Ajouter une question</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/updateQuestion">Modifier une question</a>
					<a class="dropdown-item" href="/ProjetQCM/collaborateur/removeQuestion">Supprimer une question</a>
				</div>
			</li>
		</ul>
		
		<ul class="navbar-nav my-2 my-lg-0">
			<li class="nav-item">
        		<a class="nav-link" href="/ProjetQCM/logout">Déconnexion</a>
      		</li>
		</ul>
	</div>
</nav>