<h4>Gestion des utilisateurs</h4>
<a href="/ProjetQCM/collaborateur/addCandidat">Ajouter un candidat</a><br>
<a href="/ProjetQCM/collaborateur/updateCandidat">Modifier un candidat</a><br>
<a href="/ProjetQCM/collaborateur/removeCandidat">Supprimer un candidat</a><br>
	
<h4>Gestion des promotions</h4>
<a href="/ProjetQCM/collaborateur/addPromotion">Ajouter une promotion</a><br>
<a href="/ProjetQCM/collaborateur/updatePromotion">Modifier une promotion</a><br>
<a href="/ProjetQCM/collaborateur/removePromotion">Supprimer une promotion</a><br>
	
<h4>Gestion des épreuves</h4>
<a href="/ProjetQCM/collaborateur/addEpreuve">Créer une épreuve</a><br>
<a href="/ProjetQCM/collaborateur/updateEpreuve">Modifier une épreuve</a><br>
<a href="/ProjetQCM/collaborateur/emoveEpreuve">Supprimer une épreuve</a><br>
	
<h4>Gestion des tests</h4>
<a href="/ProjetQCM/collaborateur/addTest">Créer un test</a><br>
<a href="/ProjetQCM/collaborateur/updateTest">Modifier un test</a><br>
<a href="/ProjetQCM/collaborateur/removeTest">Supprimer un test</a><br>
	
<h4>Gestion des sections</h4>
<a href="/ProjetQCM/collaborateur/addSection">Créer une section</a><br>
<a href="/ProjetQCM/collaborateur/updateSection">Modifier une section</a><br>
<a href="/ProjetQCM/collaborateur/removeSection">Supprimer une section</a><br>
	
<h4>Gestion des thèmes</h4>
<a href="/ProjetQCM/collaborateur/addTheme">Créer un thème</a><br>
<a href="/ProjetQCM/collaborateur/updateTheme">Modifier un thème</a><br>
<a href="/ProjetQCM/collaborateur/removeTheme">Supprimer un thème</a><br>
	
<h4>Gestion des questions</h4>
<a href="/ProjetQCM/collaborateur/addQuestion">Créer une question</a><br>
<a href="/ProjetQCM/collaborateur/updateQuestion">Modifier une question</a><br>
<a href="/ProjetQCM/collaborateur/removeQuestion">Supprimer une question</a><br>