header, .card-header {
	background-color: grey;
}

#logo, #titre, .boutonQuestion {
	display: inline-block;
}

#logo {
	margin: 10px;
}

.boutonAnnulerFormulaire {
	display: inline;
}

#titre, .card-header {
	color: white;
}

.selectAccueilCollaborateur {
	height: 100%;
	width: 100%;
}

.cardUtilisateurs {
	height: 600px;
}

.cardUtilisateurs .card-body, .cardQuestions .card-body, .cardThemes .card-body {
	overflow: auto;
}

.cardQuestions, .cardThemes {
	height: 300px;
}

.sousUL {
	list-style:none;
}

header {
	position: relative;
}

.connecte {
	position: absolute;
	right: 10px;
	bottom: -10px;
}

.pen, .poubelle {
	float: right;
	margin-top: 3px;
	margin-right: 10px;
}

.pen:hover, .poubelle:hover {
	cursor: pointer;
}