header, .card-header {
	background-color: grey;
}

#logo, #titre {
	display: inline-block;
}

#logo {
	margin: 10px;
}

.boutonAnnulerFormulaire {
	display: inline;
}

#titre, .card-header {
	color: white;
}

.selectAccueilCollaborateur {
	height: 100%;
	width: 100%;
}

.cardUtilisateurs {
	height: 100%;
}

.cardQuestions, .cardThemes {
	height: 300px;
}