header, .card-header {
	background-color: grey;
}

#logo, #titre {
	display: inline-block;
}

#logo {
	margin: 10px;
}

.boutonAnnulerFormulaire {
	display: inline;
}

#titre, .card-header {
	color: white;
}