<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetQCM</display-name>
  <welcome-file-list>
    <welcome-file>accueil.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <jsp-file>/accueil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlet.DoValiderAcces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ValiderAcces</servlet-name>
    <servlet-class>servlet.DoValiderAcces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderAcces</servlet-name>
    <url-pattern>/validerAcces</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreerTheme</servlet-name>
    <servlet-class>servlet.theme.DoCreerTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerTheme</servlet-name>
    <url-pattern>/collaborateur/addTheme</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifierTheme</servlet-name>
    <servlet-class>servlet.theme.DoModifierTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierTheme</servlet-name>
    <url-pattern>/collaborateur/updateTheme</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SupprimerTheme</servlet-name>
    <servlet-class>servlet.theme.DoSupprimerTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerTheme</servlet-name>
    <url-pattern>/collaborateur/removeTheme</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreerQuestion</servlet-name>
    <servlet-class>servlet.question.DoCreerQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerQuestion</servlet-name>
    <url-pattern>/collaborateur/addQuestion</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ModifierQuestion</servlet-name>
    <servlet-class>servlet.question.DoModifierQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierQuestion</servlet-name>
    <url-pattern>/collaborateur/updateQuestion</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SupprimerQuestion</servlet-name>
    <servlet-class>servlet.question.DoSupprimerQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerQuestion</servlet-name>
    <url-pattern>/collaborateur/removeQuestion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreerTest</servlet-name>
    <servlet-class>servlet.test.DoCreerTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerTest</servlet-name>
    <url-pattern>/collaborateur/addTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifierTest</servlet-name>
    <servlet-class>servlet.test.DoModifierTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierTest</servlet-name>
    <url-pattern>/collaborateur/updateTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SupprimerTest</servlet-name>
    <servlet-class>servlet.test.DoSupprimerTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerTest</servlet-name>
    <url-pattern>/collaborateur/removeTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreerSection</servlet-name>
    <servlet-class>servlet.section.DoCreerSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerSection</servlet-name>
    <url-pattern>/collaborateur/addSection</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ModifierSection</servlet-name>
    <servlet-class>servlet.section.DoModifierSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierSection</servlet-name>
    <url-pattern>/collaborateur/updateSection</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SupprimerSection</servlet-name>
    <servlet-class>servlet.section.DoSupprimerSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerSection</servlet-name>
    <url-pattern>/collaborateur/removeSection</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlet.DoLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreerCandidat</servlet-name>
    <servlet-class>servlet.utilisateur.DoCreerUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerCandidat</servlet-name>
    <url-pattern>/collaborateur/addCandidat</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifierCandidat</servlet-name>
    <servlet-class>servlet.utilisateur.DoModifierUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierCandidat</servlet-name>
    <url-pattern>/collaborateur/updateCandidat</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>SupprimerCandidat</servlet-name>
    <servlet-class>servlet.utilisateur.DoSupprimerUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerCandidat</servlet-name>
    <url-pattern>/collaborateur/removeCandidat</url-pattern>
  </servlet-mapping>	
  
  <servlet>
    <servlet-name>CreerPromotion</servlet-name>
    <servlet-class>servlet.promotion.DoCreerPromotion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerPromotion</servlet-name>
    <url-pattern>/collaborateur/addPromotion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifierPromotion</servlet-name>
    <servlet-class>servlet.promotion.DoModifierPromotion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierPromotion</servlet-name>
    <url-pattern>/collaborateur/updatePromotion</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>SupprimerPromotion</servlet-name>
    <servlet-class>servlet.promotion.DoSupprimerPromotion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerPromotion</servlet-name>
    <url-pattern>/collaborateur/removePromotion</url-pattern>
  </servlet-mapping>
  
  <!-- Condidat Servlets -->
  
  <servlet>
    <servlet-name>EpreuveConfirm</servlet-name>
    <servlet-class>servlet.DoStartEpreuve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EpreuveConfirm</servlet-name>
    <url-pattern>/epreuve</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Question</servlet-name>
    <servlet-class>servlet.DoShowQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/epreuve/question/*</url-pattern>
  </servlet-mapping>
  
</web-app>