<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetQCM</display-name>
  <welcome-file-list>
    <welcome-file>accueil.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <jsp-file>/accueil.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlet.DoValiderAcces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ValiderAcces</servlet-name>
    <servlet-class>servlet.DoValiderAcces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderAcces</servlet-name>
    <url-pattern>/validerAcces</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreerTheme</servlet-name>
    <servlet-class>servlet.theme.DoCreerTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerTheme</servlet-name>
    <url-pattern>/collaborateur/addTheme</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifierTheme</servlet-name>
    <servlet-class>servlet.theme.DoModifierTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierTheme</servlet-name>
    <url-pattern>/collaborateur/updateTheme</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SupprimerTheme</servlet-name>
    <servlet-class>servlet.theme.DoSupprimerTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerTheme</servlet-name>
    <url-pattern>/collaborateur/removeTheme</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreerQuestion</servlet-name>
    <servlet-class>servlet.question.DoCreerQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerQuestion</servlet-name>
    <url-pattern>/collaborateur/addQuestion</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ModifierQuestion</servlet-name>
    <servlet-class>servlet.question.DoModifierQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierQuestion</servlet-name>
    <url-pattern>/collaborateur/updateQuestion</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SupprimerQuestion</servlet-name>
    <servlet-class>servlet.question.DoSupprimerQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerQuestion</servlet-name>
    <url-pattern>/collaborateur/removeQuestion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlet.DoLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <!-- Condidat Servlets -->
  
  <servlet>
    <servlet-name>EpreuveConfirm</servlet-name>
    <servlet-class>servlet.DoStartEpreuve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EpreuveConfirm</servlet-name>
    <url-pattern>/epreuve</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Question</servlet-name>
    <servlet-class>servlet.DoShowQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/epreuve/question/*</url-pattern>
  </servlet-mapping>
  
</web-app>